web-services/CalculadoraCliente/src/META-INF/wsdl/localhost_8080/CalculadoraService/CalculadoraService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://calculadora/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculadora/">

<xs:element name="dividir" type="tns:dividir" />

<xs:element name="dividirResponse" type="tns:dividirResponse" />

<xs:element name="multiplicar" type="tns:multiplicar" />

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse" />

<xs:element name="somar" type="tns:somar" />

<xs:element name="somarResponse" type="tns:somarResponse" />

<xs:element name="subtrair" type="tns:subtrair" />

<xs:element name="subtrairResponse" type="tns:subtrairResponse" />

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="a" type="xs:int" />
<xs:element name="b" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrair">
<xs:sequence>
<xs:element name="a" type="xs:int" />
<xs:element name="b" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrairResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="somar">
<xs:sequence>
<xs:element name="a" type="xs:int" />
<xs:element name="b" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="somarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="a" type="xs:int" />
<xs:element name="b" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>