web-services/CalculadoraWsCliente2/xml-resources/web-service-references/CalculadoraServiceService/wsdl/localhost_8080/WsCalculadoraServidor/CalculadoraServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadora/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculadora/" name="CalculadoraServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculadora/" schemaLocation="http://localhost:8080/WsCalculadoraServidor/CalculadoraServiceService?xsd=1" />
</xsd:schema>
</types>
<message name="somar">
<part name="parameters" element="tns:somar" />
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse" />
</message>
<message name="subtrair">
<part name="parameters" element="tns:subtrair" />
</message>
<message name="subtrairResponse">
<part name="parameters" element="tns:subtrairResponse" />
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar" />
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse" />
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir" />
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse" />
</message>
<portType name="CalculadoraService">
<operation name="somar">
<input wsam:Action="http://calculadora/CalculadoraService/somarRequest" message="tns:somar" />
<output wsam:Action="http://calculadora/CalculadoraService/somarResponse" message="tns:somarResponse" />
</operation>
<operation name="subtrair">
<input wsam:Action="http://calculadora/CalculadoraService/subtrairRequest" message="tns:subtrair" />
<output wsam:Action="http://calculadora/CalculadoraService/subtrairResponse" message="tns:subtrairResponse" />
</operation>
<operation name="multiplicar">
<input wsam:Action="http://calculadora/CalculadoraService/multiplicarRequest" message="tns:multiplicar" />
<output wsam:Action="http://calculadora/CalculadoraService/multiplicarResponse" message="tns:multiplicarResponse" />
</operation>
<operation name="dividir">
<input wsam:Action="http://calculadora/CalculadoraService/dividirRequest" message="tns:dividir" />
<output wsam:Action="http://calculadora/CalculadoraService/dividirResponse" message="tns:dividirResponse" />
</operation>
</portType>
<binding name="CalculadoraServicePortBinding" type="tns:CalculadoraService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="somar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="subtrair">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculadoraServiceService">
<port name="CalculadoraServicePort" binding="tns:CalculadoraServicePortBinding">
<soap:address location="http://localhost:8080/WsCalculadoraServidor/CalculadoraServiceService" />
</port>
</service>
</definitions>