web-services/CepCliente/xml-resources/web-service-references/BuscaCepService/wsdl/localhost_8080/WsCepSoap/BuscaCepService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://ws.cep/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cep/">

<xs:element name="getLogradouro" type="tns:getLogradouro" />

<xs:element name="getLogradouroResponse" type="tns:getLogradouroResponse" />

<xs:complexType name="getLogradouro">
<xs:sequence>
<xs:element name="cep" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLogradouroResponse">
<xs:sequence>
<xs:element name="return" type="tns:logradouro" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="logradouro">
<xs:sequence>
<xs:element name="bairro" type="tns:bairro" minOccurs="0" />
<xs:element name="cep" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="bairro">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="localidade" type="tns:localidade" minOccurs="0" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="localidade">
<xs:sequence>
<xs:element name="estado" type="tns:estado" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="sigla" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>